<!DOCTYPE html>

<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <section>
      <nav>
        <h3 id="appTitle">UFree</h3>

      </nav>
    </section>

    {{{body}}}
  </body>
</html>