<!DOCTYPE html>

<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <section>
      <nav>
        <h3 id="appTitle">UFree</h3>
          <ul>
            <div class="links">
              <li><a href="/users/new">Sign Up</a></li>
              <li><a href="/sessions/new">Log In</a></li>
            </div>
          </ul>
      </nav>
    </section>

    {{{body}}}
  </body>
</html>
