<!DOCTYPE html>

<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <section>
      {{#if user}}
      <nav>
        <h3 id="appTitle">UFree</h3>
          <ul>
            <li>
              <div>
                <form action="/sessions?_method=DELETE" method="post">
                  <input type="submit" name="logOut" id="logOut" value="Log Out">
                </form>
              </div>
            </li>
          </ul>
        </nav>
      {{/if}}
    </section>
    {{{body}}}
  </body>

  {{!-- <body>
    <section>
      <nav>
        <h3 id="appTitle">UFree</h3>
          <ul>
            {{#if user}}
            <li>
              <div>
                <form action="/sessions?_method=DELETE" method="post">
                  <input type="submit" name="logOut" id="logOut" value="Log Out">
                </form>
              </div>
            </li>
            {{else}}
            <div class="links">
              <li><a href="/users/new">Sign Up</a></li>
              <li><a href="/sessions/new">Log In</a></li>
            </div>
            {{/if}}
          </ul>
      </nav>
    </section>

    {{{body}}}
  </body> --}}

</html>
