<head>
  <link rel="stylesheet" href="/stylesheets/calendar.css">
</head>

<div id="container">
      <div id="header">
        <div id="monthDisplay"></div>
        <div>
          <button id="backButton">Back</button>
          <button id="nextButton">Next</button>
        </div>
      </div>

      <div id="weekdays">
        <div>Sunday</div>
        <div>Monday</div>
        <div>Tuesday</div>
        <div>Wednesday</div>
        <div>Thursday</div>
        <div>Friday</div>
        <div>Saturday</div>
      </div>

      <div id="calendar"></div>
    </div>

    <div id="newEventModal">
      <h2>Ufree?</h2>
      <form id="calendarForm" action="groups" method="post">
        <input type="hidden" id="eventTitleInput" value="{{ username }}"/>
        <div id="calDate"></div>
        <button id="saveButton" type="submit"> I'm Free!</button>
        <button id="cancelButton">Cancel</button>
      </form>
    </div>

    <div id="deleteEventModal">
      <h2>Busy?</h2>

      <p id="eventText"></p>

      <button id="deleteButton">Delete</button>
      <button id="closeButton">Close</button>
    </div>

    <div id="modalBackDrop"></div>

<script src="/JS/script.js"></script>