<div class="calendar">
  <div>
    <h1>May 2022</h1> 
    <button onclick="window.location.href = '/users/groups/next-month'">Next</button>
  </div>
  <table>
    <tr>
      <th>
        <div> Monday </div>
      </th>
      <th>
        <div> Tuesday </div>
      </th>
      <th>
        <div> Wednesday </div>
      </th>
      <th>
        <div> Thursday </div>
      </th>
      <th>
        <div> Friday </div>
      </th>
      <th>
        <div> Saturday </div>
      </th>
      <th>
        <div> Sunday </div>
      </th>
    </tr>
    <tr>
      <td>
        
      </td>
      <td>
        
      </td>
      <td>
        
      </td>
      <td>
        
      </td>
      <td>
      
      </td>
      <td>
        
      </td>
      <td>
        <div> 1 </div>
        <div>The Friends</div>
        <div class="day1">
          <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-01">
            <button type="submit" id="btn">Ufree?</button>
          </form>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div> 2 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-02">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
      <td>
        <div> 3 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-03">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
      <td>
        <div> 4 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-04">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
      <td>
        <div> 5 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-05">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
      <td>
        <div> 6 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-06">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
      <td>
        <div> 7 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-07">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
      <td>
        <div> 8 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-08">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
    </tr>
    <tr>
      <td>
        <div> 9 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-09">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
      <td>
        <div> 10 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-10">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
      <td>
        <div> 11 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-11">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
      <td>
        <div> 12 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-12">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
      <td>
        <div> 13 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-13">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
      <td>
        <div> 14 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-14">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
      <td>
        <div> 15 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-15">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
    </tr>
    <tr>
      <td>
        <div> 16 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-16">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
      <td>
        <div> 17 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-17">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
      <td>
        <div> 18 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-18">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
      <td>
        <div> 19 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-19">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
      <td>
        <div> 20 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-20">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
      <td>
        <div> 21 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-21">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
      <td>
        <div> 22 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-22">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
    </tr>
    <tr>
      <td>
        <div> 23 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-23">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
      <td>
        <div> 24 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-24">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
      <td>
        <div> 25 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-25">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
      <td>
        <div> 26 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-26">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
      <td>
        <div> 27 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-27">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
      <td>
        <div> 28 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-28">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
      <td>
        <div> 29 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-29">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
    </tr>
    <tr>
      <td>
        <div> 30 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-30">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
      <td>
        <div> 31 </div>
        <div>The Friends</div>
        <form action="groups" method="post" onsubmit="changeText()">
            <input type="hidden" name="dateAvailability" id="dateAvailability" value="2022-05-31">
            <button type="submit" id="btn">Ufree?</button>
          </form>
      </td>
    </tr>
  </table>
</div>

<script>
  function changeText(){
    elem = document.querySelector('#btn')
    elem.innerHTML = `<p>I'm Free</p>`
  }
</script>