<h1>Create a Group</h1>
<form id="Create-A-Group" class="create-a-group-form" action="/users/personal-page" method="post">
	<label for="groupName">Group Name</label>
	<input type="text" name="groupName" id="groupName" value="" placeholder="Enter Group Name...">
	<input type="submit" value="Create A Group">
</form>