<div class="welcome-container">
  
  <div class="welcome-page-logo-container">
    <img class="welcome-page-logo" src="https://cdn.discordapp.com/attachments/974629903435702333/976122683446145054/UFree_logo.png" alt="Ufree Logo">
  </div>

  <div class="authentication-btn">
    <button onclick="window.location.href = '/sessions/new'">Log in</button>
    <button onclick="window.location.href = '/users/new'">Sign Up</button>
  </div>
  
</div>