<div class="container">
  <h1 class="title">{{title}}</h1>
  <div class="logo">
    <img src="" alt="">
  </div>
  <div>
    <a href="/sessions/new">Log in</a>
    <a href="/users/new">Sign Up</a>
  </div>
  
</div>