<div class="add-friend-to-group-container">
  <h1>Your "{{groupName}}" group</h1>

  <h2>Add friends to your group!</h2>

  <div class="addFriendToGroupPage">
    <ul reversed class="all-friends">
      <div class="AtGCon">
        <table>
          <tr>
            <td>
              {{#each friends}}
                <div id="friend">{{this}}</div>
              {{/each}}
            </td>
            <td>
              {{#each friendsEmails}}
              <div id="friendForm">
                <form id="addFriend" action="/addfriend/add-friend-to-group" method="post">
                <input type="hidden" id="groupMember" name="groupMember" value="{{this}}">
                <button class="button-56" type="submit">Add to group</button>
                </form>
              </div>
            {{/each}}
            </td>         
          </tr>
        </table>
      </div>
      
    </ul>
  </div>
</div>

<div class="authentication-btn">
  <div class="linkContainer">
    <button onclick="window.location.href = '/users/groups'">See Group Page</button>
    <button onclick="window.location.href = '/users/personal-page'">Back to Personal Page</button>
  </div>
</div>
