<h1>Your group page</h1>

<h2>Add friends to your group!</h2>

<p>Friends:</p>
<ul reversed class="all-friends">
  {{#each friends}}
  <li>{{this}}
    <form id="addFriendToGroup" action="/addfriend/add-friend-to-group" method="post">
      <input type="hidden" id="groupMember" name="groupMember" value="{{this.email}}">
      <input type="submit" value="+">
    </form>
  </li>
  {{/each}}
</ul>
</div>
</br>
<div class="linkContainer">
  <button onclick="window.location.href = '/'">See Group Page</button>
  <button onclick="window.location.href = '/users/personal-page'">Back to Personal Page</button>
</div>

