<div>
<h1>Add your friends!</h1>

<p>All users:</p>
<ul reversed class="all-users">
  {{#each checkEveryUser}}
  <li>Name: {{this.firstName}} {{this.lastName}}
    <form id="addFriend" action="/addfriend/add" method="post">
      <input type="hidden" id="selectedFriend" name="selectedFriend" value="{{this.email}}">
      <input type="submit" value="Add Friend">
    </form>
  </li>
  {{/each}}
</ul>
</div>
</br>
<div class="linkContainer">
  <button onclick="window.location.href = '/users/personal-page/create-a-group'">Create a Group</button>
  <button onclick="window.location.href = '/addfriend/add-friend-to-group'">Add Friend to group</button>
  <button onclick="window.location.href = '/users/personal-page'">Back to Personal Page</button>
</div>