<h1>Create a Group</h1>
<form id="Create-A-Group" class="create-a-group-form">
	<label for="">Group Name</label>
	<input type="text" name="groupName" id="groupName" placeholder="Enter Group Name...">
	<input type="submit" value="Create A Group">
</form>