<div class="signUpContainer">
  <h1>Welcome to UFree!</h1>

  <div class="newUserForm">
    <form id="new-user-form" action="/users" method="post">
    <div id="error_box"></div>
    <div class="signup-page-logo-container">
      <img class="signup-page-logo" src="https://cdn.discordapp.com/attachments/974629903435702333/976122683446145054/UFree_logo.png" alt="Ufree Logo">
    </div>

    <h2>Sign up!</h2>
    <div class="formLabels">
      <div>
        <input required id="firstName" type="string" name="firstName" value="" placeholder="First name">
        <input required id="lastName" type="text" name="lastName" value="" placeholder="Last name">
      </div>
      <div>
        <input required id="email" type="email" name="email" value="" placeholder="Email">
        <input required id="confirmEmail" type="email" name="confirmEmail" value="" placeholder="Confirm email">
      </div>
      <div>
        <input required id="password" type="password" name="password" value="" placeholder="Password">
        <input required id="confirmPassword" type="password" name="confirmPassword" value="" placeholder="Confirm password">
      </div>
    </div>
      <div>
        <input class="submit-button" id="submit" type="submit" value="Submit">
      </div>
      <a href="/sessions/new">Log in!</a>
    </form>
  </div>
</div>

<script>
      const form = document.getElementById('new-user-form');
      form.addEventListener('submit',function (e){
        if(form.email.value !== form.confirmEmail.value ){
          e.preventDefault()
        document.getElementById('error_box').innerText = "Emails don't match, please correct it"
      }
        if(form.password.value !== form.confirmPassword.value ){
          e.preventDefault()
          document.getElementById('error_box').innerText = "Passwords don't match, please correct it"
        }
          if(form.email.value !== form.confirmEmail.value && form.password.value !== form.confirmPassword.value ){
          e.preventDefault()
          document.getElementById('error_box').innerText = "Both Emails and both Passwords don't match, please correct it"
          }
      })
      
          if (window.location.hash == "#repeatedemail")
          document.getElementById('error_box').innerText = "Account already exists"
</script>