<h1>Welcome to UFree!</h1>

<div class="newUserForm">
  <form id="new-user-form" action="/users" method="post">
  <h2>Sign up!</h2><br/>
    <p>
      <label for="firstName">First Name</label>
      <input required id="firstName" type="string" name="firstName" value="">
    </p>
    <p>
      <label for="lastName">Last Name</label>
      <input required id="lastName" type="text" name="lastName" value="">
    </p>
    <p>
      <label for="email">Email</label>
      <input required id="email" type="email" name="email" value="">
    </p>
    <p>
      <label for="confirm-email">Confirm Email</label>
      <input required id="confirmEmail" type="email" name="confirmEmail" value="">
    </p>
    <p>
      <label for="password">Password</label>
      <input required id="password" type="password" name="password" value="">
    </p>
    <p>
      <label for="confirmPassword">Confirm Password</label>
      <input required id="confirmPassword" type="password" name="confirmPassword" value="">
    </p>
    <div>
      <input class="submit-button" id="submit" type="submit" value="Submit">
    </div>
  </form>
</div>