<h1>Welcome to UFree!</h1>

<form id="new-user-form" action="/users" method="post">
<h2>Sign up below:</h2><br/>
  <p>
    <label for="firstName">First Name:</label>
    <input required id="firstName" type="string" name="firstName" value="">
    </br>
    <label for="lastName">Last Name: </label>
    <input required id="lastName" type="text" name="lastName" value="">
    </br>
    <label for="email">Email: </label>
    <input required id="email" type="email" name="email" value="">
    </br>
    <label for="confirm-email">Confirm Email: </label>
    <input required id="confirmEmail" type="email" name="confirmEmail" value="">
    </br>
    <label for="password">Password: </label>
    <input required id="password" type="password" name="password" value="">
    </br>
    <label for="confirmPassword">Confirm Password: </label>
    <input required id="confirmPassword" type="password" name="confirmPassword" value="">
    </br>
    <input class="submit-button" id="submit" type="submit" value="Submit">
  </p>
</form>