<div class="profile-container">
  <h1 id="title" class="title">{{targetUser.firstName}} {{targetUser.lastName}}</h1>
  {{!-- <img class="profile-pic" src="{{dataImage targetUser.img}}" alt="profile picture"/> --}}
<div>

<div class="linkContainer">
  <a href="/addfriend">Add a Friend</a>
  <a href="/group/new">Create a Group</a>
</div>

<div class="groupContainer">
<h3>Your Groups</h3>
</div>