<div class="profile-container">
  <h1 id="userName" class="userName">{{targetUser.firstName}} {{targetUser.lastName}}</h1>
  {{!-- <img class="profile-pic" src="{{dataImage targetUser.img}}" alt="profile picture"/> --}}
<div>

<div class="linkContainer">
  <h1>Welcome to your personal page</h1>
  <button type="button">Your Calendar</button> <br>
  <button onclick="window.location.href = '/addfriend'">Add a Friend</button>
  <button onclick="window.location.href = '/users/personal-page/create-a-group'">Create a Group</button>
  {{!-- <button type="button">Edit Profie</button> --}}
</div>

<div class="groupContainer">
<h3>Your Groups</h3>
</div>